//- page to display specific account transactions and other details
extends layout.pug

block content
  div.d-flex.justify-content-between
    h1
      span: a(href="/"): i.bi.bi-arrow-left-circle
      |  #{accountName} Summary
    a(href="/AccountDetails/" + accountId + "/CreateTransaction"): button.btn.btn-primary.btn-header: span.bi.bi-plus New Transaction
  hr
  h4 Transactions
  table.table.table-striped.table-responsive.table-hover
    thead
      tr
        th Date
        th Description
        th: a(href="/TransactionCategories") Category
        th Amount
    tbody
      if transactions
        each tx in transactions
          tr
            td: a(href="/AccountDetails/"+accountId+"/ModifyTransaction/"+tx.id) #{tx.date}
            td: strong #{tx.description}
            td #{tx.category}
            td $#{tx.amount}
