//- landing page to display each account with currently available balance
extends layout.pug

block scripts
  - var title = 'Balance Summary';
block content
  div.d-flex.justify-content-between
    h1: span(class="bi bi-house-door")  Available Balances
    div
      a(href="/CreateAccount").btn.btn-primary.btn-sm.btn-header: span.bi.bi-plus New Account
      span #{" "}
      a(href="/Logout").btn.btn-outline-primary.btn-sm.btn-header Logout
  table.table.table-striped.table-responsive.table-sm
    thead
      tr
        th Last Transaction Date
        th Account Name
        th Balance
        th Available Credit
    tbody
      each detail in accountDetails
        tr
          td #{detail.lastTxDate}
          td
            a(href='/AccountDetails/'+detail.accountId) #{detail.accountAdmin} #{detail.accountName}
          td $#{detail.balance}
          if detail.credit
            td $#{detail.credit}
          else
            td
