//- landing page to display each account with currently available balance
head
  link(
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css",
    rel="stylesheet",
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We",
    crossorigin="anonymous"
  )
  link(
    rel="stylesheet",
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
  )
body
  div.container-fluid
    h1
      i(class="bi bi-house-door")
      |  Available Balances
    table(class="table table-striped")
      thead
        tr
          th Last Transaction Date
          th Account Name
          th Balance
          th Available Credit
      tbody
        each detail in accountDetails
          tr
            td #{detail.lastTxDate}
            td
              a(href='/AccountDetails/'+detail.accountId) #{detail.accountAdmin} #{detail.accountName}
            td $#{detail.balance}
            if detail.credit
              td $#{detail.credit}
            else
              td
    script(
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js",
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj",
      crossorigin="anonymous"
    )
