//- page to create new transaction type category
head
  link(
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css",
    rel="stylesheet",
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We",
    crossorigin="anonymous"
  )
  link(
    rel="stylesheet",
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
  )
body
  div.container-fluid
    h1
      span: a(href="/TransactionCategories"): i.bi.bi-x-circle
      |  Create Transaction Category
    form(method="post" action="/TransactionCategories/CreateCategory" enctype="application/x-www-form-urlencoded")
      div.mb-3
        label.form-label(for="parentCategory") Parent Category  (enter new or leave blank to choose from existing)
        div.input-group
          input.form-control#parentCategory(name="parentCategory" type="text" placeholder="new parent category")
          select.form-select#parentCategorySelect(name="parentCategorySelect" aria-label="Parent Category Select")
            each pc in parentCategories
              option #{pc}
      div.mb-3
        label.form-label(for="category") Category Description
        input.form-control#category(name="category" type="text")
      div.mb-3
        button.btn.btn-primary(type="submit") Submit
    script(
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js",
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj",
      crossorigin="anonymous"
    )
