//- page to create new account
head
  link(
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css",
    rel="stylesheet",
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We",
    crossorigin="anonymous"
  )
  link(
    rel="stylesheet",
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
  )
  script(async src='https://www.googletagmanager.com/gtag/js?id=G-S4JCJNLTEG')
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-S4JCJNLTEG');
  title Create Account
body
  div.container-fluid
    h1
      span: a(href="/"): i.bi.bi-x-circle
      |  Create New Account
    form(method="post" action="/CreateAccount" enctype="application/x-www-form-urlencoded")
      div.mb-3
        label.form-label(for="accountName") Name
        input.form-control#accountName(name="accountName" type="text")
      div.mb-3
        label.form-label(for="accountAdmin") Administrator
        input.form-control#accountAdmin(name="accountAdmin" type="text")
      label.form-label(for="accountBalance") Current Balance
      div.mb-3.input-group
        span.input-group-text $
        input.form-control#accountBalance(name="accountBalance" type="text" aria-label="Account Balance")
      label.form-label(for="creditLimit") Credit Limit (if applicable)
      div.mb-3.input-group
        span.input-group-text $
        input.form-control#creditLimit(name="creditLimit" type="text" aria-label="Account Balance")
      div.mb-3
        button.btn.btn-primary(type="submit") Submit
    script(
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js",
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj",
      crossorigin="anonymous"
    )
