//- page to modify existing transaction
extends layout.pug

block
  div.container-fluid
    h1
      span: a(href="/AccountDetails/" + accountId): i.bi.bi-x-circle
      |  Modify Existing Transaction
    form(method="post" action="/AccountDetails/" + accountId + "/ModifyTransaction/" + transaction._id enctype="application/x-www-form-urlencoded")
      div.mb-3
        label.form-label(for="txDate") Date
        input.form-control#txDate(type="date" name="date" value=`${transaction.date.getFullYear()}-${(transaction.date.getUTCMonth() < 9 ? '0'+(transaction.date.getUTCMonth()+1) : (transaction.date.getUTCMonth() + 1))}-${(transaction.date.getUTCDate() < 10 ? '0' + transaction.date.getUTCDate() : transaction.date.getUTCDate())}`)
      div.mb-3
        label.form-label(for="txAccount") Account
        input.form-control#txAccount(name="accountName" type="text" value=accountName readonly)
      div.mb-3
        label.form-label(for="txDesc") Description
        input.form-control#txDesc(name="description" value=transaction.description)
      div.mb-3
        label.form-label(for="txCategory") Category
        select.form-select#txCategory(aria-label="Category Select" name="category")
          each category in categories
            if category === transaction.category
              option(selected) #{category}
            else
              option #{category}
      div.mb-3
        div.form-check.form-switch
          if (transaction.isDeposit)
            input.form-check-input#txIsDeposit(type="checkbox" value='checked' name="isDeposit" checked)
          else
            input.form-check-input#txIsDeposit(type="checkbox" value='checked' name="isDeposit")
          label.form-check-label(for="txIsDeposit") Is Deposit?
      div.mb-3
        label.form-label(for="txAmount") Amount
        div.input-group
          span.input-group-text $
          input.form-control#txAmount(type="text" aria-label="Transaction Amount" name="amount" value=transaction.amount)
      div.mb-3
        button.btn.btn-primary(type="submit") Submit
